/* TOKEN DATA */

/* section */
.crypto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin: 25px 0;

    
}
.crypto2{
    display: flex;
    justify-content: center;
}
/* Name */ 
    .crypto__nameAndprice{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 20px;
    }
   
    .crypto__name{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 50px;
        border-radius: 50px;
        /* margin-bottom: 10px; */
        box-shadow: 0px 20px 10px rgba(0, 0, 2, 0.185);

    }
    .crypto__name p{
        margin-right: 5px;
        text-transform: capitalize;
        /* margin: ; */
    }
    .crypto__name-short{
        font-size: 0.7em;
        color: var(--clr-slate600);
    }
/* Price */
    .crypto__price-container{
        display: flex;
        align-items:center;
        
        padding: 10px;
        
        gap:5px
    }
    .crypto__price{
        font-size: var(--size-4xl);
        margin-right: 5px;
    }
    .crypto__price-devise{
        font-size: 22px;
        font-weight: lighter;
    }
    .crypto__price-change{
        display: flex;
        align-items: first baseline;
        gap: 3px;
        flex-direction: row-reverse;
    }
/* Gen data */
    /* section div-child data */
    .crypto__details-title{
        font-weight: 500;
        color: var(--clr-slate400);
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 10px;

    }
    .crypto__details {
        border-top: 2px solid var(--clr-slate600); ;
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        width: 60%;
        min-width: 250px;
        max-width: 400px;
    }

    .crypto__details p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: var(--size-sm);
        margin: 5px 0;
        border-bottom: 1px solid var(--clr-slate800);
        padding-bottom: 5px;
    }

    .crypto__details p strong {
        color: var(--clr-info);
        text-transform: capitalize;
        font-weight: 500;

    }

    .crypto__details p span {
        font-style: italic;
        font-weight: bold;
    }

    .crypto__details p a {
        color: var(--clr-interaction);
        text-decoration: none;
    }

    .crypto__details p a:hover {
        text-decoration: underline;
    }

    .icon_reddit {
        width: 20px;
        height: 20px;
    }

/* DESCRIPTION */
    .introduction{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .crypto__description {
        color: var(--clr-slate600);
        font-size: var(--size-base);
    }
    .introduction__text-background{
        background-color: #2e2e2e;
        width: 100vw;
        display: flex;
        justify-content: center;

    }
    .introduction__text h3{
        text-align: center;
        margin-bottom: 10px;
        
    }
    .introduction__text p{
        margin: 0 10px;
        padding: 10px;
        min-width: 300px;
        max-width: 400px;
        text-align:left;
    }
 /* xs */
/* @media(min-width :475px){
 
} */
/* s */
/* @media(min-width :640px){
   
} */
/* m */
@media(min-width :768px){
   
 }
 /* l */
 /* @media(min-width :1024px){
    
 } */
 /* xl */
 @media(min-width :1280px){
   main{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: flex-start;
   }
   .crypto__details p{
    font-size: 16px;
   }
   .crypto__details {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: none;
   }
   .table{
    margin-top: 20px;
   }
   .crypto__nameAndprice{
    border-bottom: 2px solid var(--clr-slate600);
    width: 60%;
    padding: 30px;
   }
   .crypto__price{
    font-size: var(--size-5xl);
   
}
 }
 /* 2xl */
 /* @media(min-width :1536px){