/* .table{
    
} */
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*CHOICES*/
    .table__choice-container{
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid var(--clr-slate600);
        padding: 10px 0px;
        width: 400px;
    }
    .table__choice{
        text-align: center;
        width:100%;
    }
    
    .table__choice span{
        color: rgb(134, 143, 156);
        font-weight: 500;
        /* color: var(--clr-options); */
       
        padding: 5px 0px;
    }
    .table__choice span:hover{
        cursor: pointer;
         }
    .table__choice .active{
        color: rgb(255, 255, 255);
        font-weight: 500;
        /* color: var(--clr-options); */
        border-bottom: 2px solid var(--clr-info);
        padding: 5px 0px;
    }
        
/*TABLE over flow*/
.table__scroll{
    overflow-x:hidden;
    width: 400px;
}
.table__width{
    overflow-x:hidden;
    width: 200%;
}
.table__container{
    display: flex;
    justify-content:space-between;
    /* width: 100%; */
    border: 1px solid;
}

/* TABLE STYLING */

.tables{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    border: 1px solid red;
    /* margin: auto; */
    width: 50%;

}
tr{
text-align: center;
border: 1px solid red;
}
th,tr{
    font-family:sans-serif, Times, serif;
}